streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
tavily-python
matplotlib
python-docx
docx2txt
sentence-transformers
chromadb
rank-bm25
numpy
requests
pillow
